@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
.proglangtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proglangtitle h1 {
    font-family: 'Bungee', cursive;
    color: White;
    font-size: 36px;
    
}

.WelcomeWrapper {
    display: flex;
    justify-content: center;
}

.WelcomeText {
    background-color: rgb(255, 94, 94);
    padding: 25px;
    width: 20%;
    border-radius: 30px;
    box-shadow: 0 0 10px 8px rgb(2, 2, 2);
}

    ul li {
    color:white;
}