@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
.mat-raised-button {
    background-color: #ffffff;
    border-style: none;
    border-radius: 6px;
    size: 16px;
}

.mat-grid-tile {
    font-size: 30px;
    color: white;
}

button.mat-menu-item {
    background-color: rebeccapurple;
    border-radius: 4px;
}

.mat-grid-tile:last-of-type {
    background-image: url("https://i.ibb.co/VLP3Z32/proglangbg.png");
    background-position: center;
    background-size: cover;
}

.progCard {
    background-color: rgb(255, 94, 94);
    max-width: 500px;
    min-height: 50%;
    padding: 50px;
    margin: 100px;
    max-height: 400px;
    box-shadow: 0 0 10px 8px rgb(2, 2, 2);
    overflow-y: scroll;
}

.progCard::-webkit-scrollbar {
    display: none;
}

.mat-card-content p {
    font-size: 16px;
    margin: 0 16px;
    display: flex;
    align-items: center;
}

.mat-card-header {
    position: sticky;
    top: 0;
    background: rgb(63, 94, 251);
    background: linear-gradient(153deg, rgba(63, 94, 251, 1) 0%, rgba(40, 43, 39, 1) 52%, rgba(195, 77, 151, 1) 100%);
    border-radius: 6px;
    padding: 10px;
}

.mat-card-header,
.mat-card-content,
.mat-card-actions {
    margin: 0 16px;
    display: block;
    margin-bottom: 4px;
}

.filter {
    size: 16px;
}

table {
    background-color: rgb(7, 18, 26);
    border-radius: 6px;
}

td:hover {
    background-color: rgb(26, 66, 96);
    cursor: pointer;
}