<body>
    <div class="proglangtitle">
        <h1 class="title">
            Select a programming language!
        </h1>
    </div>
    <div class="WelcomeWrapper">
        <div class="WelcomeText">
            <ul *ngFor="let language of proglanglist$ | async">
                <li>{{ language.Name }}</li><br>{{language.Founder}}
            </ul>
        </div>






            <ul>
                <li *ngFor="let language of proglanglist$ | async">
                    <a routerLink="/details/{{ language.id }}">{{ language.Name }}</a>
                </li>
            </ul>
        </div>
    </div>
</body>