<body>
    <div class="proglangtitle">
        <h1 class="title">
            Select a programming language!
        </h1>
    </div>
    <div class="WelcomeWrapper">
        <div class="WelcomeText">
            <ul>
                <li *ngFor="let item of proglanguages">
                    <a [routerLink]="['/details', item.id]"
                    routerLinkActive="active-link"
                    *ngFor="let item of proglanguages">{{ item.Name }}</a>
                </li>
            </ul>
        </div>

         
   

    </div>
    < </body>