<div class="insertlang">
    <h1 class="title">
        Databas submission
    </h1>
</div>
<div class="WelcomeWrapper">
    <div class="firstwelcomediv">
        <div class="submitform">
            <form class="form" [formGroup]="this.form">
                <mat-form-field class="input-field">
                    <mat-label>Name of the language:</mat-label>
                    <input matInput formControlName="Name">
                </mat-form-field>

                <mat-form-field class="input-field">
                    <mat-label>Name of the founder:</mat-label>
                    <input matInput formControlName="Founder">
                </mat-form-field>

                <mat-form-field class="input-field">
                    <mat-label>Year founded:</mat-label>
                    <input matInput formControlName="Founded">
                </mat-form-field>

                <mat-form-field class="input-field">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="Description"></textarea>
                </mat-form-field>
                <button mat-raised-button (click)="onSubmit()">Submit</button>
            </form>
        </div>
    </div>
</div>