mat-card-footer {
    font-family: 'Bungee', cursive;
    font-size: 20px;
    color: rgba(255, 94, 94, 1);
    position: absolute;
    background-color: black;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footerText {
    padding-left: 25px;
}

.mat-grid-list {
    height: 100%;
}

.mat-body p,
.mat-body-1 p,
.mat-typography p {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(80, 145, 74);
}

body {
    margin: 0;
}

.mat-grid-tile {
    font-size: 30px;
    color: white;
    font-family: 'Bungee', cursive;
}