mat-card-footer {
    font-family: 'Bungee', cursive;
    font-size: 20px;
    color: rgba(255, 94, 94, 1);
    position: absolute;
    background-color: black;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footerText {
    padding-left: 25px;
}

.mat-body p, .mat-body-1 p, .mat-typography p {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(80, 145, 74);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
