<body>
    <mat-tab-group>
        <mat-tab class="test" label="Visual Studio">
            <div><img src="https://upload.wikimedia.org/wikipedia/en/8/86/Visual_Studio_2013_EN.png"
                    alt="Visual Studio IDE">
                <img src="https://pluralsight2.imgix.net/paths/images/visualstudio-2019-62bfdf4c9e.png"
                    alt="Visual Studio Logo">
            </div>
        </mat-tab>
        <mat-tab label="Visual Studio Code">
            <div><img src="https://user-images.githubusercontent.com/1487073/58344409-70473b80-7e0a-11e9-8570-b2efc6f8fa44.png"
                alt="Visual Studio Code IDE">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/1200px-Visual_Studio_Code_1.35_icon.svg.png"
                alt="Visual Studio Code Logo">
        </div>
        </mat-tab>
        <mat-tab label="Webstorm">
            <div><img src="https://www.jetbrains.com/webstorm/img/screenshots/webstorm-main.png"
                alt="WebStorm IDE">
            <img src="https://resources.jetbrains.com/storage/products/webstorm/img/meta/webstorm_logo_300x300.png"
                alt="WebStorm Logo">
        </div>
        </mat-tab>
        <mat-tab label="Atom">
            <div><img src="https://cdn.thenewstack.io/media/2017/09/4937dc18-atomideui-1024x768.jpg"
                alt="Atom IDE">
            <img src="https://seeklogo.com/images/A/atom-logo-19BD90FF87-seeklogo.com.png"
                alt="Atom Logo">
        </div>
        </mat-tab>
        <mat-tab label="Eclipse">
            <div><img src="https://www.eclipse.org/pdt/img/shot5-min.png"
                alt="Eclipse IDE">
            <img src="https://www.nicepng.com/png/detail/264-2648074_eclipse-logo-png-transparent-eclipse-ide.png"
                alt="Eclipse Logo">
        </div>
        </mat-tab>
        <mat-tab label="NetBeans">
            <div><img src="https://pbs.twimg.com/media/EoQUb-WXIAEq2d1.jpg"
                alt="NetBeans IDE">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/Apache_NetBeans_Logo.svg"
                alt="NetBeans Logo">
        </div>
        </mat-tab>
    </mat-tab-group>
</body>