
<div class="form-popup" id="hiddenLogin">
    <form class="form-container">
    
      <label for="email"><b>Email</b></label>
      <h1>{{ email }}</h1>
      <input type="text" placeholder="Enter Email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" required>
  
      <button type="submit" (click)="onSubmit()" class="btn">Login</button>
      <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
    </form>
  </div>