<body>
    <div class="homepagetitle">
        <h1 class="title">
            Home
        </h1>
    </div>
    <div class="WelcomeWrapper">
        <div class="firstwelcomediv">
            <h1>There are alot of programming languages! <br><br> Press the button below to get an overview of some of them!</h1>
            <button (click)="toggleShow()" class="buttons"><p>Show History</p></button>
        </div>
        <div *ngIf="isShown" class="secondwelcomediv">
            <h1>asdasdasdasd</h1>
        </div>

    </div>
</body>