<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming!</title>
</head>


<body id="body">
    <div class="topwrapper">
        <div class="topnav">
            <nav mat-tab-nav-bar>
                <a mat-tab-link *ngFor="let link of links"
                   [routerLink]="link.link" routerLinkActive="activebutton">{{link.label}}</a>
              </nav>

             <!-- <mat-tab routerLink="/Welcome-Page" routerLinkActive="activebutton" label="Home"></mat-tab>
              <mat-tab routerLink="/Programming-Languages" routerLinkActive="activebutton" label="Programming-Languages"></mat-tab>
              <mat-tab routerLink="/Frameworks" routerLinkActive="activebutton" label="Frameworks"></mat-tab>
              <mat-tab routerLink="/Database-Submit" routerLinkActive="activebutton" label="Submit to database"></mat-tab>-->

        </div>
        <div class="loginform">
            <div class="loginDiv" *ngIf="isLoggedIn">
                <p class="loggedInAs">Logged in as: {{ loggedInUser }}</p>
                <mat-icon routerLink="/Profile" routerLinkActive="activebutton" svgIcon="profile" aria-hidden="false" aria-label="Profile page SVG icon"></mat-icon>
            </div>
            <button mat-button>
                    <p *ngIf="!isLoggedIn" (click)="openForm()">Login</p>
                    <p *ngIf="isLoggedIn" (click)="onLogoutClick()">logout</p>
                </button>
            <app-login id="hiddenlogin"></app-login>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>

</html>