<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming!</title>
</head>


<body id="body">
    <div class="topwrapper">
        <div class="topnav">
            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/Welcome-Page" routerLinkActive="activebutton">Home</button>
                <button mat-menu-item routerLink="/Programming-Languages" routerLinkActive="activebutton">Programming Languages</button>
                <button mat-menu-item *ngIf="isLoggedIn" routerLink="/Database-Submit" routerLinkActive="activebutton">Submit to database</button>
                <!-- <button mat-menu-item *ngIf="isLoggedIn" routerLink="/ProjectOverview" routerLinkActive="activebutton">Project Overview</button> -->
            </mat-menu>
        </div>
        <div class="loginform">
            <div class="loginDiv" *ngIf="isLoggedIn">
                <p class="loggedInAs">Logged in as: {{ loggedInUser }}</p>
                <mat-icon routerLink="/Profile" routerLinkActive="activebutton" svgIcon="profile" aria-hidden="false" aria-label="Profile page SVG icon"></mat-icon>
            </div>
            <button mat-button>
                    <p *ngIf="!isLoggedIn" (click)="openForm()">Login</p>
                    <p *ngIf="isLoggedIn" (click)="onLogoutClick()">logout</p>
                </button>
            <app-login id="hiddenlogin"></app-login>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>

</html>