    @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans&display=swap%27');
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
    body {
        margin: 0;
        font-family: 'Comfortaa', cursive;
        background-color: rgb(7, 18, 26);
    }

    .topwrapper {
        background-color: black;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .loginform {
        display: flex;
        align-items: center;
    }

    .loginDiv {
        margin-right: 20px;
        display: flex;
        align-items: center;
    }

    .loggedInAs {
        font-size: 16px;
        color: white;
    }

    app-login {
        position: absolute;
        width: 600px;
        height: 200px;
        top: 50%;
        left: 50%;
        margin: -250px 0 0 -300px;
    }

    .mat-button {
        background: rgb(255, 255, 255);
        margin: 10px;
    }

    .mat-icon {
        margin-left:20px;
    }

    .mat-icon:hover {
        cursor: pointer;
    }

    .mat-menu-item {
        margin: 10px;
        padding: 10px;
        border-style: none;
    }

    .mat-menu-item:hover {
       cursor: pointer;
       background-color: rgb(255, 94, 94);
    }
    