<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming!</title>
</head>


<body id="body">

    <div class="topwrapper">
        <div class="topnav">
            <a class="links" routerLink="/Welcome-Page" routerLinkActive="activebutton">Home</a>
            <a class="links" routerLink="/Programming-Languages" routerLinkActive="activebutton">Programming
                Languages</a>
            <a class="links" *ngIf="isLoggedIn" routerLinkActive="activebutton" routerLink="/Database-Submit">
                <p>Submit to database</p>
            </a>
            <div class="loginform_wrapper">
                <div class="loginform">
                    <div class="loginDiv" *ngIf="isLoggedIn">
                        <p>Logged in as: {{ loggedInUser }}</p>
                    </div>

                    <button class="buttons">
                        <p *ngIf="!isLoggedIn" (click)="openForm()">Login</p>
                        <p *ngIf="isLoggedIn"  (click)="onLogoutClick()">logout</p>
                    </button>

                    <div class="logincenter">
                        <app-login></app-login>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</body>

</html>